section.support .sc-menu {
  list-style: none;
  box-shadow: 0 0 0 1px #C2C2C2;
  border-radius: 2px;
}
@media all and (max-width: 768px) {
  section.support .sc-menu.contents .menu-item.heading {
    box-shadow: inset 0 0 0 0 #C2C2C2;
    cursor: pointer;
    pointer-events: all;
    transition: box-shadow 0.2s ease;
  }
  section.support .sc-menu.contents .menu-item:not(.heading) {
    box-shadow: inset 0 0 0 0 #C2C2C2;
    padding: 0;
  }
  section.support .sc-menu.contents .menu-item:not(.heading),
  section.support .sc-menu.contents .menu-item:not(.heading) * {
    display: block;
    font-size: 0;
    line-height: 0;
    opacity: 0;
    transition: box-shadow 0.2s ease 0.2s, font-size 0.2s ease 0.2s, line-height 0.2s ease 0.2s, padding 0.2s ease 0.2s, opacity 0.2s ease;
  }
  section.support .sc-menu.contents.expanded .expand-button {
    transform: rotate(180deg);
  }
  section.support .sc-menu.contents.expanded .menu-item.heading {
    box-shadow: inset 0 -1px 0 0 #C2C2C2;
    transition: box-shadow 0.2s ease 0.2s;
  }
  section.support .sc-menu.contents.expanded .menu-item:not(.heading) {
    padding: 8px 10px;
  }
  section.support .sc-menu.contents.expanded .menu-item:not(.heading),
  section.support .sc-menu.contents.expanded .menu-item:not(.heading) * {
    font-size: 15px;
    line-height: 22px;
    opacity: 1;
    transition: box-shadow 0.2s ease, font-size 0.2s ease, line-height 0.2s ease, padding 0.2s ease, opacity 0.2s ease 0.2s;
  }
  section.support .sc-menu.contents.expanded .menu-item:not(.heading):not(:last-child) {
    box-shadow: inset 0 -1px 0 0 #C2C2C2;
  }
}
section.support .sc-menu.contents a {
  cursor: pointer;
}
section.support .sc-menu + .sc-menu {
  margin-top: 20px;
}
section.support .sc-menu .menu-item {
  display: block;
  position: relative;
  padding: 8px 10px;
  line-height: 22px;
  text-decoration: none;
}
section.support .sc-menu .menu-item.heading {
  pointer-events: none;
  color: #586069;
  background-color: #F3F5F8;
  font-weight: 600;
}
section.support .sc-menu .menu-item.selected {
  font-weight: 500;
  color: #000;
  cursor: default;
}
section.support .sc-menu .menu-item.selected:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 2px 0 0 0 #00B0EE;
}
section.support .sc-menu .menu-item:not(.selected):hover {
  background-color: #F6F8FA;
}
section.support .sc-menu .menu-item:not(:last-child) {
  box-shadow: inset 0 -1px 0 0 #C2C2C2;
}
section.support .ad {
  border-radius: 3px;
  box-shadow: 0 3px 10px 1px rgba(54, 54, 54, 0.102);
  margin-top: 2em;
  width: 100%;
}
section.support .ad img {
  width: 100%;
}
section.support .ad .content {
  padding: 1em;
}
section.support .ad button {
  margin-bottom: 0;
}
section.support h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
}
section.support h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 1em 0 0.5em 0;
}
section.support kbd {
  background-color: #EEE;
  border-radius: 4px;
  font-family: 'Consolas', monospace;
  font-weight: 500;
  padding: 3px 6px;
}
section.support .privacy h4 {
  margin: 1em 0 0.5em 0;
}
section.support .privacy ul li {
  line-height: 1.5;
  margin-bottom: 1em;
  margin-left: 42px;
}
section.support .privacy *:not(h4):not(h3) {
  text-align: justify;
}
section.support .faq-card {
  margin-bottom: 1em;
}
section.support .faq-card.expanded .faq-card-header {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: all 0.2s ease;
}
section.support .faq-card.expanded .expand-button {
  transform: rotate(180deg);
}
section.support .faq-card.expanded .faq-card-content {
  padding: 1em;
  transition: all ease 0.2s;
}
section.support .faq-card.expanded .faq-card-content * {
  font-size: 15px !important;
  opacity: 1;
  transition: font-size 0.2s ease, margin 0.2s ease, padding 0.2s ease, opacity 0.2s ease 0.2s;
}
section.support .faq-card-header {
  border: 1px solid #EEE;
  border-radius: 2px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 10px 1em;
  transition: all 0.2s ease 0.2s;
}
section.support .expand-button {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2026%2016%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%3E%3Cpolygon%20fill%3D%27%239B9B9B%27%20points%3D%273%200%2013%2010%2023%200%2026%203%2013%2016%200%203%27%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 13px 8px;
  cursor: pointer;
  float: right;
  height: 17px;
  margin-top: 3px;
  transition: all 0.2s linear;
  width: 13px;
}
section.support .faq-card-content {
  background: #F3F5F8;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  padding: 0;
  transition: all 0.2s ease 0.2s;
}
section.support .faq-card-content * {
  font-size: 0 !important;
  margin: 0;
  opacity: 0;
  padding: 0;
  transition: opacity 0.2s ease, font-size 0.2s ease 0.2s, margin 0.2s ease 0.2s, padding 0.2s ease 0.2s;
}
section.support .faq-card-content > a {
  display: block;
}
section.support .faq-card-content > a.permalink {
  margin-top: 1em;
}
section.support .faq-card-content p {
  margin: 0;
}
section.support label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
}
section.support .description {
  font-size: 14px;
  margin-bottom: 10px;
}
section.support input {
  border: 1px solid #C2C2C2;
  border-radius: 2px;
  margin-bottom: 15px;
  max-width: 374px;
  width: 100%;
  padding: 6px 8px;
}
section.support .help {
  cursor: pointer;
  display: block;
  font-size: 13px;
  margin-bottom: 15px;
  margin-top: -10px;
}
section.support textarea {
  border: 1px solid #C2C2C2;
  border-radius: 2px;
  font-family: "SF Compact Display", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 15px;
  padding: 6px 8px;
  width: 100%;
}
section.support select {
  border: 1px solid #C2C2C2;
  border-radius: 2px;
  height: 34px;
  margin-bottom: 15px;
  max-width: 374px;
  width: 100%;
}
section.support .row .column label {
  line-height: 32px;
}
section.support form button {
  display: block;
  margin-top: 8px;
}
section.support p.flow {
  line-height: 1.5;
  margin-bottom: 1em;
}
section.support .flag {
  border-radius: 3px;
  box-sizing: border-box;
  box-shadow: #091E424D 4D 0px 20px 32px -8px;
  margin: 1em 0;
  padding: 16px;
  transition: background-color 0.2s ease;
  width: 100%;
  z-index: 600;
}
section.support .flag.error {
  background-color: #DE350B;
  color: #FFF;
}
section.support .flag.error .icon span {
  color: #FFF;
  fill: #DE350B;
}
section.support .flag.info {
  background-color: #0747A6;
  color: #FFF;
}
section.support .flag.info .icon span {
  color: #FFF;
  fill: #0747A6;
}
section.support .flag.question {
  background-color: #F3F5F8;
  color: #172B4D;
}
section.support .flag.question .icon span {
  color: #172B4D;
  fill: #F3F5F8;
}
section.support .flag.success {
  background-color: #33B025;
  color: #FFF;
}
section.support .flag.success .icon span {
  color: #FFF;
  fill: #33B025;
}
section.support .flag.warning {
  background-color: #FFC400;
  color: #253858;
}
section.support .flag.warning .icon span {
  color: #253858;
  fill: #FFAB00;
}
section.support .flag .header {
  align-items: center;
  display: flex;
  height: 32px;
  -moz-box-align: center;
}
section.support .flag .icon {
  flex: 0 0 auto;
  width: 40px;
}
section.support .flag .icon span {
  display: inline-block;
  flex-shrink: 0;
  line-height: 1;
}
section.support .flag .title {
  font-size: 14px !important;
  font-weight: 600;
  flex: 1 1 0%;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section.support .flag .content {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  justify-content: center;
  min-width: 0px;
  padding-left: 40px;
  -moz-box-pack: center;
}
section.support .flag .content,
section.support .flag .content * {
  font-size: 14px !important;
}
section.support .flag a {
  color: inherit;
  text-decoration: underline;
}
section.support .flag a:hover {
  text-decoration: none;
}
section.support table {
  width: 100%;
}
section.support th {
  padding: 6px 0;
  text-align: center;
}
section.support th:first-of-type {
  text-align: left;
}
section.support th:last-of-type {
  text-align: right;
}
section.support td {
  padding: 6px 0;
  text-align: center;
}
section.support td:first-of-type {
  text-align: left;
}
section.support td:first-of-type.error {
  background-color: #DE350B;
  color: #FFF;
}
section.support td:first-of-type.error .icon span {
  color: #FFF;
  fill: #DE350B;
}
section.support td:first-of-type.info {
  background-color: #0747A6;
  color: #FFF;
}
section.support td:first-of-type.info .icon span {
  color: #FFF;
  fill: #0747A6;
}
section.support td:first-of-type.question {
  background-color: #F3F5F8;
  color: #172B4D;
}
section.support td:first-of-type.question .icon span {
  color: #172B4D;
  fill: #F3F5F8;
}
section.support td:first-of-type.success {
  background-color: #33B025;
  color: #FFF;
}
section.support td:first-of-type.success .icon span {
  color: #FFF;
  fill: #33B025;
}
section.support td:first-of-type.warning {
  background-color: #FFC400;
  color: #253858;
}
section.support td:first-of-type.warning .icon span {
  color: #253858;
  fill: #FFAB00;
}
section.support td:last-of-type {
  text-align: right;
}
section.support td button,
section.support td input {
  margin: 0 auto;
}
section.support button.icon.error {
  background-color: #DE350B;
  color: #FFF;
}
section.support button.icon.error svg {
  color: #FFF;
  fill: #DE350B;
}
section.support button.icon.info {
  background-color: #0747A6;
  color: #FFF;
}
section.support button.icon.info svg {
  color: #FFF;
  fill: #0747A6;
}
section.support button.icon.question {
  background-color: #F3F5F8;
  color: #172B4D;
}
section.support button.icon.question svg {
  color: #172B4D;
  fill: #F3F5F8;
}
section.support button.icon.success {
  background-color: #33B025;
  color: #FFF;
}
section.support button.icon.success svg {
  color: #FFF;
  fill: #33B025;
}
section.support button.icon.warning {
  background-color: #FFC400;
  color: #253858;
}
section.support button.icon.warning svg {
  color: #253858;
  fill: #FFAB00;
}
section.modal {
  --modal-background: #FFF;
  --modal-color: #000;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 0;
  pointer-events: none;
  position: fixed;
  transition: all 0.2s ease 0.2s;
  top: 0;
  width: 100vw;
  z-index: 9999999;
  -webkit-backdrop-filter: saturate(100%) blur(20px);
}
@media all and (min-width: 576px) {
  section.modal {
    padding: 24px;
  }
}
section.modal.error {
  --modal-background: #DE350B;
  --modal-color: #FFF;
}
section.modal.error .icon.error {
  display: inline-block !important;
}
section.modal.info {
  --modal-background: #0747A6;
  --modal-color: #FFF;
}
section.modal.info .icon.info {
  display: inline-block !important;
}
section.modal.question {
  --modal-background: #172B4D;
  --modal-color: #F3F5F8;
}
section.modal.question .icon.question {
  display: inline-block !important;
}
section.modal.success {
  --modal-background: #33B025;
  --modal-color: #FFF;
}
section.modal.success .icon.success {
  display: inline-block !important;
}
section.modal.warning {
  --modal-background: #FFC400;
  --modal-color: #253858;
}
section.modal.warning .icon.warning {
  display: inline-block !important;
}
section.modal .modal-inner {
  background-color: #FFF;
  color: #172B4D;
  height: 100%;
  opacity: 0;
  padding: 1em;
  position: relative;
  transition: all 0.2s ease;
  width: 100%;
}
@media all and (min-width: 576px) {
  section.modal .modal-inner {
    border-radius: 12px;
  }
}
@media all and (min-width: 768px) {
  section.modal .modal-inner {
    height: auto;
    max-width: 90%;
  }
}
@media all and (min-width: 992px) {
  section.modal .modal-inner {
    max-width: 75%;
  }
}
@media all and (min-width: 1200px) {
  section.modal .modal-inner {
    max-width: 50%;
  }
}
section.modal .modal-inner .content {
  max-height: calc(100% - 1.5em - 32px);
  min-height: 10em;
  padding: 1em;
  padding-bottom: 3em;
}
section.modal .modal-inner .content .title-bar {
  display: flex;
  margin-bottom: 1em;
}
section.modal .modal-inner .content .icon {
  color: var(--modal-background);
  display: none;
  fill: var(--modal-color);
  margin-right: 0.75em;
}
section.modal .modal-inner .content .title {
  font-weight: 600;
  line-height: 22px;
}
section.modal .modal-inner .buttons {
  bottom: 1em;
  display: flex;
  position: absolute;
  right: 1em;
}
section.modal .modal-inner .buttons button {
  background-color: var(--modal-background);
  color: var(--modal-color);
  display: block;
  font-size: 13px;
  margin: 0;
  margin-left: 0.5em;
}
section.modal .modal-inner .buttons button:last-of-type {
  background-color: #EBECF0;
  color: #172B4D;
}
body.modal-open {
  overflow-y: hidden;
}
body.modal-open section.modal {
  opacity: 1;
  pointer-events: all;
  transition: all 0.2s ease;
}
body.modal-open section.modal .modal-inner {
  opacity: 1;
  transition: all 0.2s ease 0.2s;
}
