/* Button */



.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #FFF;
    border-color: #DBDBDB;
    color: #363636;
    cursor: pointer;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0.75em;
    padding-right: 0.75em;
    text-align: center;
    white-space: nowrap;
}

.button:hover, .button.is-hovered {
    border-color: #B5B5B5;
    color: #363636;
}

.button:active, .button.is-active {
    border-color: #4A4A4A;
    color: #363636;
}

.button:focus, .button.is-focused, .button:active, .button.is-active {
    outline: none;
}

.button:focus, .button.is-focused {
    border-color: #3273DC;
    color: #363636;
}

.button:focus:not(:active), .button.is-focused:not(:active) {
    -webkit-box-shadow: 0 0 0 0.125em #3273DC4D;
    box-shadow: 0 0 0 0.125em #3273DC4D;
}

.button[disabled] {
    background-color: #FFF;
    border-color: #DBDBDB;
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 0.5;
    cursor: not-allowed;
}

/* Button Color Variants */

.button.is-static {
    background-color: #F5F5F5;
    border-color: #DBDBDB;
    color: #7A7A7A;
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
}

/* Light */

.button.is-light {
    background-color: #F5F5F5;
    border-color: transparent;
    color: #363636;
}

.button.is-light:hover, .button.is-light.is-hovered {
    background-color: #EEE;
    border-color: transparent;
    color: #363636;
}

.button.is-light:active, .button.is-light.is-active {
    background-color: #E8E8E8;
    border-color: transparent;
    color: #363636;
}

.button.is-light:focus:not(:active), .button.is-light.is-focused:not(:active) {
    -webkit-box-shadow: 0 0 0 0.125em #F5F5F54D;
    box-shadow: 0 0 0 0.125em #F5F5F54D;
}

.button.is-light:focus, .button.is-light.is-focused {
    border-color: transparent;
    color: #363636;
}

.button.is-light[disabled] {
    background-color: #F5F5F5;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/* Button Sizes */

.button.is-small {
    border-radius: 2px;
    font-size: 0.75rem;
}

.button.is-medium {
    font-size: 1.25rem;
}



/* Checkbox and Radio */



.checkbox, .radio {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    position: relative;
}

.checkbox input, .radio input {
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    vertical-align: baseline;
}



/* Text Input and Textarea */



input:not([type="checkbox"]):not([type="radio"]), textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    background-color: #FAFAFA;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #363636;
    display: inline-flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    max-width: 100%;
    padding-bottom: calc(.375em - 1px);
    padding-left: calc(.625em - 1px);
    padding-right: calc(.625em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    transition: all .2s linear;
    vertical-align: top;
    width: 100%;
}

input:not([type="checkbox"]):not([type="radio"]):hover, textarea:hover {
    border-color: #b5b5b5;
}

input:not([type="checkbox"]):not([type="radio"]):active, input:not([type="checkbox"]):not([type="radio"]):focus, textarea:active, textarea:focus {
    border-color: #FF5A5F;
    box-shadow: 0 0 0 .125em #FF5A5F4D;
}

label:not(.checkbox) {
    color: #363636;
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5em;
}

textarea {
    display: block;
    max-width: 100%;
    min-width: 100%;
    padding: .625em;
    resize: vertical;
}

textarea[rows] {
    height: initial;
}

textarea:not([rows]) {
    max-height: 600px;
    min-height: 120px;
}