.table {
    border-collapse: collapse;
    width: 100%;
}

.table tr {
    background-color: rgba(255, 255, 255, .2);
}

.table tr:nth-of-type(2n) {
    background-color: rgba(0, 0, 0, .1);
}

.table td, .table th {
    border: 1px solid rgba(0, 0, 0, .4);
    padding: .75em;
}

.table th {
    background-color: #FFF;
    border-bottom-width: 2px;
    font-family: 'Averta Std';
}

.table.has-text-centered td {
    vertical-align: middle;
}

.table td small {
    display: block;
    font-weight: 600;
    padding-top: .2em;
}